html, body {
	--unit: 24px;
	--pixel: 2px;
	font-family: sans-serif;
	user-select: none;
	-moz-user-select: none;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
/*
#TopUI {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(var(--unit) * 2);
}
*/
#PopUp {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(var(--unit) * 3);
    height: calc(var(--unit) * 5);
    background-color: red;
    transition-duration: 0.3s;
}

canvas {
  position: absolute;
  top: calc((100% - var(--unit) * 9) / 2);
  left: calc((100% - var(--unit) * 16) / 2);
}
#title {
    width: 100%;
    text-align: center;
    font-size: calc(var(--unit) * 0.6);
    margin-top: calc(var(--unit) * 0.2);
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}
#subtitle {
    width: 100%;
    text-align: center;
    font-size: calc(var(--unit) * 0.35);
    margin-top: calc(var(--unit) * 0.2);
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}